<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
  @section('title')
    Adonis Todo App
  @endsection
  </title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css') }}
  {{ style('app') }}
</head>
<body>
  @!section('content')
</body>
</html>
